<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Log In page</title>
</head>
<body>
    <div class="header">
        <img src="/img/logo.png" class="logo">
        <div class="wrapper">
            <form action="/login" method="post">
                <h1>Login</h1>
                {% with messages = get_flashed_messages(category_filter=['login']) %}
                    {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Flash Login Error!</strong>
                            {% for message in messages %}
                            <p>{{message}}</p>
                            {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
                <div class="input-box">
                    <label for="email"></label>
                    <input type="email" placeholder="Email" name="email"
                    required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <label for="password"></label>
                    <input type="password" placeholder="Password" name="password"
                    required>
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Remember me</label>
                    <a href="#"> Forgot password?</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="register-link">
                    <p>Don't have an account? <a href="#">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>